body { 
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);}

.mainContainer { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 50px 300px;
    padding: 50px 0px;
    border-radius: 20px;
    background-color: white;
}


li {
    list-style-type: none
}